:root {
  --card-hover: rgba(127, 127, 127, 0.2);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
}

.content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

#searchbox {
  background-color: var(--in-content-box-background);
  border-radius: var(--border-radius-2);

  display: flex;
  width: 100%;
}

#searchbox:focus-within {
  border-color: transparent;
  outline: 2px solid var(--in-content-focus-outline-color);
  outline-offset: -1px;
}

#searchbox img {
  color: var(--in-content-text-color);
  stroke: var(--in-content-text-color);
  -moz-context-properties: fill, fill-opacity;
  fill: currentColor;
  margin: auto;
  padding-left: 16px;
  padding-right: 8px;
}

#searchInput {
  border: none;
  width: 100%;
}

#searchInput:focus {
  outline: none;
}

#topSitesContainer {
  display: flex;
  padding-top: 32px;
  gap: 16px;
}

.favicon {
  background: var(--in-content-box-background);
  width: 48px;
  padding: 16px;
  border-radius: var(--border-radius-1);

  box-shadow: var(--card-shadow);
}

.cardContainer {
  background-color: transparent;
  width: 120px;
  padding-top: 16px;
  border-radius: var(--border-radius-1);
  overflow: hidden;
}

.cardContainer:hover {
  background-color: var(--card-hover);
}

.title {
  text-overflow: ellipsis;
  white-space: nowrap;

  padding-top: 8px;
  font: caption;
}

@media (max-width: 1084px) and (min-width: 800px) {
  #topSitesContainer > .cardContainer:nth-child(6) ~ .cardContainer {
    /* this rule targets the rows after the 3rd .row */
    display: none;
  }
}

@media (max-width: 800px) {
  #topSitesContainer {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 530px) {
  #topSitesContainer > .cardContainer:nth-child(6) ~ .cardContainer {
    /* this rule targets the rows after the 3rd .row */
    display: none;
  }
}
